link(rel="stylesheet", href="../style.css")

- var text = "rikvik2006"

div.wrapper
    div.letters
        each letter in text
          span.letter !{letter}
    p Generate Random Text Transformation Using CSS Only